body {
  margin: 0;
  overflow-x: scroll;
  overflow-y: hidden;
  background-color: black;
  font-family: "Roboto", sans-serif;
  color: white;
  padding-top: 5px;
}

svg {
  position: absolute;
  top: 160px;
  z-index: -10;
}

.info {
  opacity: 0;
}

.nota:hover>.info {
  opacity: 1;
}

.box {
  background-color: #313131;
}

/*Nome do Visualizador---------------- */
#titulo {
  margin-top: 10px;
  margin-left: 1%;
  position: fixed;
  top: 0;
  left:0;
}

#spotify, #songs, #specs {
  width: 650px;
  border-radius: 10px;
  padding: 5px 0;
  margin: 5px 0;
}

h1 {
  margin: 0;
  margin-left: 10px;
  font-weight: 700;
  font-size: 25px;
}

#songs {
  margin-left: 6%;
}

#specs {
  margin-left: 12%;
}

/*Keys Pauta------------------------- */
#keys {
  position: fixed;
  top: 173px;
  left: 1%;
  display: inline-block;
  width: 40px;
  font-size: 14px;
  text-align: center;
  padding: 0.5px 0;
  border-radius: 10px;
}

#keys p {
  margin: 0 0 27.4% 0;
}

#keys p:first-of-type {
  margin-top: 10px;
}

/*Legendas---------------------------- */
#legendas {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 15px;
  margin-right: 1%;
  width: 180px;
  padding: 5px 15px;
  border-radius: 10px;
  position: fixed;
  right: 0;
  top: 0;
  height: 95%;
}

#n_musicas, #valencia, #energia, #escala {
  /*margin-bottom: 5%; /*10px*/
}

.titulo_legenda {
  font-size: 15px;
  font-weight: 500;
  /*margin-top: 5%; /*10px*/
  /*margin-bottom: 5%; /*5px*/
  margin-left: 0;
  margin-right: 0;
}

.corpo_legenda {
  font-size: 13px;
  color: #C8C8C8;
  margin: 5% 0 5% 10px;
}

#valencia .corpo_legenda {
  margin: 3% 0 3% 10px;
}

.alinhar_vertical {
  display: flex;
  align-items: center;
}

.tamanho_imagem {
  width: auto;
  height: 25px;
}

.same_line {
  display: inline-block;
}

#tamanho_sustenida {
  height: 7px;
  width: auto;
  margin-bottom: 15px;
}

#valencia2 {
  transform: rotate(180deg);
}

/*CopyRight---------------------------- */
#copyright {
  position: fixed;
  margin-bottom: 15px;
  margin-left: 1%;
  bottom: 0;
  left: 0;
  font-size: 12px;
  color: white;
}

/*Info Artista---------------------------- */
.info_artista {
  position: absolute;
  opacity: 0;
  transition: all .35s ease;
  background-color: #313131;
  border: none;
  border-radius: 0.5vw;
  z-index: 15;
  width: 200px;
  height: auto;
  display: inline-block;
  padding: 20px;
}

.show_infoArtista {
  opacity: 1;
}

.info_artista h3 {
  margin: 0;
}

.info_artista ul {
  margin: 10px 0 0 0;
  list-style: outside;
}

.info_artista li {
  margin: 0;
}
